<div class="services">
    <app-widget-baner-pages [title]="titleBaner"></app-widget-baner-pages>
</div>


<div class="row">
    <div class="container mt-5">
        <div class="card-columns animated fadeInLeft">
            <ng-container *ngFor="let image of _albums; let i=index">
                <div class="card pointer animated fadeIn">
                    <div (click)="open(i)" class="image">
                        <img class="img-fluid" [src]="image.thumb" alt="capin">
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>