/* .trabajos {
  margin-top: 50px;
} */

.trabajos .contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: visible;
}

.trabajos .contenedor-trabajos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.trabajos .contenedor-trabajos .trabajo {
  width: 30%;
  margin-bottom: 40px;
}

.trabajos .contenedor-trabajos .trabajo .thumb {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
  display: block;
  overflow: hidden;
}

.trabajos .contenedor-trabajos .trabajo .thumb img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.trabajos .contenedor-trabajos .trabajo .thumb img:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.trabajos .contenedor-trabajos .trabajo .descripcion {
  text-align: center;
}

.trabajos .contenedor-trabajos .trabajo .descripcion .nombre {
  font-weight: 700;
  color: #636363;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.trabajos .contenedor-trabajos .trabajo .descripcion .nombre:hover {
  color: #000000;
  cursor: pointer;
}

.trabajos .contenedor-trabajos .trabajo .descripcion .categoria {
  font-size: 14px;
  color: #636363;
}

/* ----- ----- MEDIA QUERIES ----- ----- */
@media screen and (max-width: 800px) {
  .trabajos .contenedor-trabajos .trabajo {
    width: 46%;
  }
}

@media screen and (max-width: 500px) {
  .trabajos .contenedor-trabajos .trabajo {
    width: 100%;
  }
}
