<section class="about-2">
  <div class="container">
      <div class="text-center animated fadeInRight">
          <div class="text-header">
              Escoja la mejor <br />
              <span class="text-into">consultoría</span>
          </div>
          <div class="intro-heading">
              Con una variedad de consultores disponibles en nuestra empresa,
              siempre puede elegir uno que se ajuste a sus requisitos
              corporativos.
          </div>
          <a class="btn btn-primary btn-xl text-uppercase" [routerLink]="['/contacto']">Contáctanos</a>
      </div>
  </div>
</section>