<div class="services">
  <section class="banner">
    <div class="container">
      <div class="row">
        <div class="col-12 title animated fadeInRight">
          <h2>Sobre Nosotros</h2>
        </div>
      </div>
    </div>
  </section>

  <main class="main-about">
    <section class="mision-vision">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 animated fadeInLeft">
                    <h2 class="title">Misión</h2>
                    <p class="mv-body">Ser reconocidos por brindar servicios basados principios éticos y morales,
                        enfocados en la innovación, tendencia y calidad, aportando al país, ciudadanos más
                        competitivos a nivel mundial.</p>
                </div>
                <div class="col-12 col-md-6 vision animated fadeInRight">
                    <h2 class="title">Visión</h2>
                    <p class="mv-body">Facilitar la cualificación, competitividad y desarrollo profesional de
                        personas a través de la formación, contribuyendo en la mejora de las personas, empresas,
                        entidades y administraciones públicas y privadas que confían en nosotros.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- About -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 animated fadeIn">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="assets/pages/images/about/1.jpg" alt="" />
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011</h4>
                                    <h4 class="subheading">Nuestros humildes comienzos</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                     En el año de 2011 la Licenciada Jaqueline Soto, se inicia en el mundo de la capacitación  y desarrollo de eventos empresariales,
                                     Haciendo alianzas estratégicas  ha logrado capacitar a más de 2000 profesionales de diferentes áreas en distintas instituciones.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="assets/pages/images/about/2.jpg" alt="" />
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Marzo 2014</h4>
                                    <h4 class="subheading">Nace una agencia</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                            En 2014 nace la idea de crear una marca propia, que  permita  potencializar las habilidades  de estudiantes  y profesionales en nuestro país, por medio de la capacitación y la asesoría personalizada.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="assets/pages/images/about/4_.jpg" alt="" />
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Enenro 2015</h4>
                                    <h4 class="subheading">CAP IN</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        En 2015, la Licenciada en Administración de Negocios Jaqueline Soto,  junto al Licenciado Rudy Rivera, Mercadólogo experto en comercio internacional del CCI  Ginebra que a su vez fue presidente de AGRITRADE, director de CENAE y exportador de Cardamomo,  dan forma a CAP IN, Capacitación y Asesoría Profesional e Innovadora con la firme convicción de contribuir al crecimiento profesional del recurso humano del sector empresarial público y privado.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="assets/pages/images/about/5.jpg" alt="" />
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019</h4>
                                    <h4 class="subheading">Expansión</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        CAP IN sigue innovando para crear líderes competitivos que estén preparados ante las exigencias del siglo XXI, porque estamos convencidos que la capacitación es vital para que los profesionales y las empresas sigan creciendo y asuman retos a nivel nacional y mundial.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a class="link-contact" href="contact.html">
                                  <h4>Se parte <br />de nuestra <br />Historia!</h4>  
                                </a>
                                
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>
</div>