<div class="row animated fadeIn">
  <div class="col-lg-6">
    <div class="card">
        <div *ngIf="usuario" class="card-body">
            <h4 class="card-title">Rerfil de usuario</h4>
            <h6 class="card-subtitle">{{ usuario.name }}</h6>
            <form ngNativeValidate #f="ngForm" (ngSubmit)="actualizarData(f.value)" class="form p-t-20">
                <div class="form-group">
                    <label for="exampleInputuname">Nombre</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-user"></i></div>
                        <input [ngModel]="usuario.name" name="name" type="text" class="form-control" placeholder="Nombre de usuario" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Correo</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-email"></i></div>
                        <input [ngModel]="usuario.email" name="email" disabled type="email" class="form-control" placeholder="Correo de usuario" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                  <i class="fa fa-save"></i>
                  Guardar</button>
                <!-- <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button> -->
            </form>
        </div>
    </div>
</div> 

<div *ngIf="usuario" class="col-lg-5">
    <div class="card">
        <div class="card-body" align="center">
            <h4 class="card-title">Fotografía del usuario</h4>
            <h6 class="card-subtitle">Nombre de usuario</h6>

            <img *ngIf="!imagenTemp" class="w150" [src]="usuario.avatar || 'assets/admin/images/no-img.jpg'" accept=".png, .jpg, .jpeg">
            <img *ngIf="imagenTemp" class="w150" [src]="imagenTemp" accept=".png, .jpg, .jpeg">

            <br>
            <br>

            <input type="file" (change)="onFileSelected( $event.target.files[0] )">

            <br>
            <br>

            <button (click)="cambiarImagen()" [disabled]="!imagenSubir" type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                <i class="fa fa-save"></i>
                Actualizar foto</button>
        </div>
    </div>
</div>
</div>


<div class="row">
  <div class="col-lg-4" align="center">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Cambiar Contraseña</h4>
            <button (click)="resetPassword()" class="btn btn-success waves-effect waves-light m-r-10">Cambiar</button>
            <!-- <p *ngIf="passReset" >Reset requested. Check your email instructions.</p> -->
            <p *ngIf="passReset" >Reset requested. Check your email instructions.</p>
        </div>
    </div>
  </div>
</div>
