<div class="services">
  <section class="banner">
    <div class="container">
      <div class="row">
        <div class="col-12 title animated fadeInRight">
          <h2>Nuestros servicios</h2>
          <p>Lo que hacemos</p>
        </div>
      </div>
    </div>
  </section>

  <section class="product">
    <div class="container inner">
        <!-- Logistica de eventos -->
        <div class="row">
            <div class="col-md-6 inner-right-xs text-right animated fadeInLeft order-2 order-md-1">
                <figure>
                    <img src="assets/pages/images/servicios/logistics.jpg" alt="wedev" />
                </figure>
            </div>
            <div class="col-md-6 inner-top-xs inner-left-xs pl-5 animated fadeInDown mt-5 order-1 order-md-2">
                <h2 class="titulo">LOGISTICA DE EVENTOS</h2>
                <p class="parrafo">
                    Contamos con mas de 10 años de experiencia, apoyando a empresas con la logística completa de sus eventos (diseño, organización y ejecución).
                </p>
                <h6>Garantizamos el éxito de sus eventos.</h6>
                <ul class="listas">
                    <li>Integración de equipos</li>
                    <li>Convividos navideños</li>
                    <li>Aniversarios</li>
                    <li>Maestros de ceremonias</li>
                    <li>Servicios de Catering</li>
                    <li>Ferias</li>
                    <li>Congresos</li>
                    <li>Fotografía</li>
                </ul>
            </div>
        </div>

        <!-- Capacitaciones -->
        <div class="row inner-top-md mt-5">
            <div class="col-md-6 order-md-2 inner-left-xs animated fadeInRight mt-5 order-2 order-md-2">
                <figure>
                    <img src="assets/pages/images/servicios/capasitaciones.jpg" alt="" />
                </figure>
            </div>
            <div class="col-md-6 order-md-1 inner-top-xs inner-right-xs mt-5 animated fadeInDown order-1 order-md-1">
                <h2 class="titulo">CAPACITACIÓNES</h2>
                <p class="parrafo">
                    Estamos seguros que la capacitación es la respuesta a la necesidad de las empresas o instituciones de contar con un personal altamente productivo y capacitado. <br />Millones de potenciales clientes se alojan en las redes sociales. Conecte con sus clientes, genere fidelidad con su marca y aumente su comunidad a través de estrategias de marketing digital. Mida y rastree en tiempo real el crecimiento de su empresa.
                </p>
                <ul class="listas">
                    <li>Conferencias</li>
                    <li>Diplomados</li>
                    <li>Talleres / Workshop</li>
                    <li>Seminarios</li>
                    <li>Congresos</li>
                    <li>Servicios In situ</li>
                </ul>
                <p class="parrafo">
                    Cada uno de los programas, desarrollados de acuerdo a las necesidades de las entidades con quienes laboramos
                </p>
            </div>
        </div>

        <!-- Consultorias -->
        <div class="row inner-top-md mt-5">
            <div class="col-md-6 inner-right-xs text-right animated fadeInLeft order-2 order-md-1">
                <figure>
                    <img src="assets/pages/images/servicios/consultoria.jpg" alt="" />
                </figure>
            </div>
            <div class="col-md-6 inner-top-xs inner-left-xs animated fadeInDown order-1 order-md-2">
                <h2>CONSULTORÍAS</h2>
                <p class="parrafo">
                    Ofrecemos servicios profesionales para empresas del sector público y privado, así como instituciones educativas; contamos con un selecto equipo de profesionales, quienes trabajaran a su lado para resolver necesidades especificas.
                </p>

            </div>
        </div>

        <!-- Presentaciones -->
        <div class="row inner-top-md mt-5">
                <div class="col-md-6 order-md-2 inner-left-xs animated fadeInRight order-2 order-md-2">
                    <figure>
                        <img src="assets/pages/images/servicios/presentaciones.jpg" alt="" />
                    </figure>
                </div>
                <div class="col-md-6 order-md-1 inner-top-xs inner-right-xs mt-5 animated fadeInDown order-1 order-md-1">
                    <h2>REPRESENTACIONES</h2>
                    <p class="parrafo">
                        Realizamos todo tipo de presentaciones
                    </p>

                    <ul class="listas">
                        <li>Representación de empresas nacionales e internacionales</li>
                        <li>Representaciones artísticas</li>
                        <li>Estructuración empresarial</li>
                        <li>Comercialización</li>
                        <li>Gestión de Negocios y Alianzas Estratégicas</li>
                        <li>Investigación</li>
                        <li>Formulaciones</li>
                        <li>Desarrollo de Proyectos</li>
                        <li>Investigación de Mercados</li>
                    </ul>
                    <p class="parrafo">
                        Cada uno de los programas, desarrollados de acuerdo a las necesidades de las entidades con quienes laboramos
                    </p>
                </div>
        </div>
    </div>
</section>

<app-widget-contact-us></app-widget-contact-us>

</div>