<section id="wrapper" class="login-register login-sidebar"
  style="background-image:url(assets/admin/images/background/login-register.jpg);">
  
  <div class="row mt-5 pt-5" align="center" >
    <div class="col-12">
      <p class="title">Restablecer contraseña solicitado. <br> Revise las instrucciones en su correo electrónico.</p>
    </div>
  </div>
  <div class="row" align="center">
    <div class="col-12">
      <a class="btn btn-info" [routerLink]="[ '/login']">Regresar</a>
    </div>
  </div>
</section>