<!-- Header -->
<header class="masthead">
  <div class="container">
      <div class="intro-text animated fadeInLeft">
          <!-- <div class="intro-lead-in text-uppercase">El mejor equipo <br />de <span>consultoría</span></div> -->
          <div class="intro-lead-in text-uppercase">Capacitarse e innovar <br />es superación y <span>éxito</span></div>
          <div class="intro-heading">
            CAP In Consulting ofrece una amplia gama de servicios a las empresas antes o
              durante tiempos financieros difíciles. Lo que nos diferencia de otras empresas en la industria son
              varios años de servicio.</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" [routerLink]="['/servicios']">Dime más</a>
      </div>
  </div>
</header>

<!-- Services -->
<section class="bg-light" id="services">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center animated fadeIn">
              <h2 class="section-heading text-uppercase">Nuestros servicios</h2>
              <h3 class="section-subheading text-muted">Lo que hacemos</h3>
          </div>
      </div>
      <div class="row text-center">
          <div class="col-md-4 animated fadeInDown">
              <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x circlecito"></i>
                  <i class="fas fa-users"></i>
                  <i class="fa fa-users fa-stack-1x iconito"></i>
              </span>
              <h4 class="service-heading">Capacitación</h4>
              <p class="text-muted">Estamos seguros que la capacitación es la respuesta a la necesidad de las empresas o instituciones de contar con un personal altamente productivo y capacitado.</p>
              <a class="tellme-more" [routerLink]="['/servicios']">Ver más</a>
          </div>
          <div class="col-md-4 animated fadeInDown">
              <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x circlecito"></i>
                  <i class="fas fa-chart-line fa-stack-1x iconito"></i>
                  <!-- <i class="fas fa-analytics"></i> -->
                  
              </span>
              <h4 class="service-heading">Consultoría Profesional</h4>
              <p class="text-muted">
                  Ofrecemos servicios profesionales para empresas del sector público y privado, así como instituciones educativas.
              </p>
                  <a class="tellme-more" [routerLink]="['/servicios']">Ver más</a>
          </div>
          <div class="col-md-4 animated fadeInDown">
              <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x circlecito"></i>
                  <i class="fa fa-list fa-stack-1x iconito"></i>
              </span>
              <h4 class="service-heading">Logística de eventos</h4>
              <p class="text-muted">
                  Contamos con mas de 10 años de experiencia, apoyando a empresas con la logística completa de sus eventos (diseño, organización y ejecución).
              </p>
                  <a class="tellme-more" [routerLink]="['/servicios']">Ver más</a>
          </div>
      </div>
  </div>
</section>

<!-- about -->
<app-widget-contact-us></app-widget-contact-us>

<section class="few-about">
  <div class="container-fluid">
      <div class="row content">
          <div class="col-12 col-md-6 image animated fadeInLeft">
              <img src="{{pathImage}}about-home.jpg" alt="{{_altImage}}">
          </div>
          <div class="col-12 col-md-6 content-text animated fadeInRight">
              <h2 class="">Unas palabras sobre nosotros</h2>
              <p class="">Somos una empresa que brinda las herramientas que le permiten ser más competitivo en su entorno, laboral, profesional, académico o personal.</p>
              <p class="">Estamos seguros que la formación es un instrumento imprescindible para lograrlo y con nuestra capacitación, asesoría profesional e innovadora usted logrará alcanzar el tan anhelado éxito.</p>
              
              <a class="btn btn-primary" [routerLink]="['/acerca-de']" >Ver más</a>
          </div>
      </div>
  </div>
</section>