* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
}

#mainNav {
  background-color: white;
  border-bottom: 1px solid #e2e2e2;
}
#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  background-color: #ff9900;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#mainNav .navbar-brand {
  color: white;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
  color: #cc7a00;
}
#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 700;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: #ff9900;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #ff9900;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-brand img {
    width: 150%;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
    border: 1px solid transparent;
    margin-right: 5px;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    border: 1px solid #0d2144;
    margin-right: 5px;
    border-radius: 20px;
    color: #0d2144;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
  #mainNav.navbar-shrink .navbar-brand img {
    width: 100%;
  }
}
header.masthead {
  text-align: left;
  color: #fff;
  background-image: url("../src/assets/pages/images/home/header.jpg");
  background-color: #7d7d7d;
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}
header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header.masthead .intro-text .intro-lead-in span {
  color: #ff9900;
}
header.masthead .intro-text .intro-heading {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 25px;
  color: #fff !important;
  padding-right: 30%;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
    color: #fff;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  header.masthead .intro-text .intro-lead-in span {
    color: #ff9900;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 50px;
    padding-right: 50%;
    color: #fff !important;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.circlecito {
  color: #f8f9fa !important;
}
.circlecito:hover {
  color: #ff9900 !important;
}

.iconito {
  color: #ff9900;
}
.iconito:hover {
  color: #0d2144;
}

.tellme-more {
  text-decoration: none !important;
}

.services {
  background-color: #fff;
}
.services .banner {
  margin-top: 126px;
  background-image: url("../src/assets/pages/images/headers/email-pattern.png");
  background-color: #4b4a4a;
  background-blend-mode: soft-light;
  background-position: center center;
  background-repeat: repeat;
  width: 100%;
  height: 100%;
}
.services .banner .title {
  text-align: center;
  color: white !important;
}
.services .banner .title h2 {
  font-weight: 400 !important;
  text-transform: uppercase !important;
}
.services .banner .title p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.services .main-service {
  margin-top: 20px;
  margin-bottom: 100px;
}
.services .main-service .item {
  height: 300px;
}
.services .main-service .item .single-service {
  margin-top: 75px;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  padding: 0 30px 20px;
  text-align: center;
}
.services .main-service .item .single-service:hover {
  border-color: #0d2144;
}
.services .main-service .item .single-service:hover .icon i {
  background-color: #0d2144;
  border-color: #0d2144;
}
.services .main-service .item .single-service:hover .content a h4 {
  color: #0d2144;
}
.services .main-service .item .single-service .icon {
  height: 50px;
  margin-top: -40px;
  margin-bottom: 50px;
  text-align: center;
}
.services .main-service .item .single-service .icon i {
  text-align: center;
  font-size: 36px !important;
  color: #e2e2e2 !important;
  width: 75px;
  line-height: 73px;
  border: 1px solid #e2e2e2;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
}
.services .main-service .item .single-service .icon i::before {
  font-size: 36px !important;
  margin-left: 0;
}
.services .main-service .item .single-service .content a {
  text-decoration: none;
  background-color: transparent;
}
.services .main-service .item .single-service .content a h4 {
  font-size: 20px;
  color: #333;
  font-weight: 700;
}
.services .main-service .item .single-service .content p {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: #777;
}

.product {
  padding: 50px !important;
}
.product .inner figure {
  width: 100%;
}
.product .inner figure img {
  width: 100%;
}
.product .inner .parrafo {
  color: #6c757d;
  font-size: 16px;
}
.product .inner .listas {
  color: #6c757d;
  list-style: none;
}
.product .inner .listas li {
  text-decoration: none;
}

@media only screen and (max-width: 992px) {
  .services .banner {
    margin-top: 68px;
    padding: 75px;
  }
  .services .main-service .item .single-service {
    border-color: #0d2144;
  }
  .services .main-service .item .single-service .icon i {
    background-color: #0d2144;
    border-color: #0d2144;
  }

  .product {
    padding: 0px !important;
  }
}
.about-2 {
  background: #12394b;
  color: white;
  padding: 75px 0;
}
.about-2 .text-header {
  font-size: 36px;
  line-height: 1.333;
  font-weight: 300;
}
.about-2 .text-header .text-into {
  font-weight: 700 !important;
}
.about-2 .intro-heading {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 20%;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.few-about {
  padding: 0;
  background: #fff;
}
.few-about .container-fluid {
  padding: 0;
}
.few-about .container-fluid .content {
  padding-top: 75px;
  padding-bottom: 50px;
}
.few-about .container-fluid .content .image img {
  width: 100%;
  vertical-align: top;
}
.few-about .container-fluid .content .content-text h2 {
  font-size: 36px;
  line-height: 1.33333;
  font-weight: 400;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.few-about .container-fluid .content .content-text p {
  margin-top: 30px;
  padding-right: 25%;
  font-size: 16px;
  line-height: 1.5;
  color: #74757f;
  font-weight: 300;
  letter-spacing: 0.03em;
}
.few-about .container-fluid .content .content-text button {
  margin-top: 40px;
}

.main-about .mision-vision {
  padding: 0;
  margin-top: 50px;
  text-align: center;
}
.main-about .mision-vision .title {
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main-about .mision-vision .mv-body {
  color: #777;
}
.main-about .timeline {
  position: relative;
  padding: 0;
  list-style: none;
}
.main-about .timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}
.main-about .timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}
.main-about .timeline > li:after,
.main-about .timeline > li:before {
  display: table;
  content: " ";
}
.main-about .timeline > li:after {
  clear: both;
}
.main-about .timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}
.main-about .timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.main-about .timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.main-about .timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #ff9900;
}
.main-about .timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}
.main-about .timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.main-about .timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.main-about .timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.main-about .timeline > li:last-child {
  margin-bottom: 0;
}
.main-about .timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}
.main-about .timeline .timeline-heading h4.subheading {
  text-transform: none;
}
.main-about .timeline .timeline-body > ul,
.main-about .timeline .timeline-body > p {
  margin-bottom: 0;
}
.main-about .timeline .link-contact {
  color: #fff;
  text-decoration: none;
}
@media (min-width: 768px) {
  .main-about .mision-vision {
    margin-top: 100px;
  }
  .main-about .timeline:before {
    left: 50%;
  }
  .main-about .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .main-about .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .main-about .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .main-about .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .main-about .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .main-about .timeline > li {
    min-height: 150px;
  }
  .main-about .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .main-about .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .main-about .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .main-about .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
  .main-about .timeline .link-contact {
    color: #fff;
    text-decoration: none;
  }
}
@media (min-width: 1200px) {
  .main-about .timeline > li {
    min-height: 170px;
  }
  .main-about .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .main-about .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .main-about .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .main-about .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
  .main-about .timeline .link-contact {
    color: #fff;
    text-decoration: none;
  }
}

@media only screen and (max-width: 768px) {
  .few-about .image {
    display: none;
  }
  .few-about .content {
    margin-left: 15px;
  }
}
footer {
  background-color: #2d3742;
  color: #aeb1be;
  padding-top: 30px;
  padding-bottom: 30px;
}
footer .section1 {
  text-align: center;
}
footer .section1 .logo img {
  width: 50%;
  vertical-align: top;
}
footer .section1 p {
  color: #cecece !important;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  margin: 15px 0;
  text-align: left !important;
  padding-left: 20%;
}
footer .section1 .social ul {
  margin: 10px 0 0 0;
  padding: 0px;
  list-style-type: none;
}
footer .section1 .social ul li {
  display: inline-block;
  margin-right: 17px;
  font-size: 24px;
}
footer .section1 .social ul li i {
  color: #aeb1be !important;
}
footer .section2 .title {
  font-size: 20px;
  color: #cecece;
  font-weight: 700;
}
footer .section2 ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
footer .section2 ul li {
  line-height: 35px;
}
footer .section2 ul li a {
  text-decoration: none;
  font-size: 15px;
  color: #cecece;
}
footer .section2 ul li a:hover {
  color: #3764eb;
  margin-right: 8px;
}
footer .section2 ul li a i {
  margin-right: 5px;
}
footer .links {
  padding-left: 100px;
}

.copy-right {
  background: #12394b;
  padding: 5px 0;
  color: #fff;
}
.copy-right p {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  padding: 0 0 0 90px;
}

@media only screen and (max-width: 768px) {
  footer .section2 {
    text-align: center;
    margin-bottom: 30px;
  }
  footer .links {
    display: none;
  }

  .copy-right {
    padding: 2px 0;
  }
  .copy-right p {
    font-size: 8px;
    font-weight: 300;
    margin: 0;
    padding: 0 0 0 90px;
  }
}
.main-team .team-member {
  margin-bottom: 50px;
  text-align: center;
}
.main-team .team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
}
.main-team .team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.main-team .team-member p {
  margin-top: 0;
}

.main-contact {
  /* margin-top: 100px; 
  margin-bottom: 100px;*/
  padding-top: 100px;
  padding-bottom: 100px;
}
.main-contact .form section#contact {
  padding: 0;
}
.main-contact .form section#contact .section-heading {
  color: #777;
}
.main-contact .form section#contact .form-group {
  margin-bottom: 25px;
}
.main-contact .form section#contact .form-group input,
.main-contact .form section#contact .form-group textarea {
  padding: 20px;
}
.main-contact .form section#contact .form-group input.form-control {
  height: auto;
}
.main-contact .form section#contact .form-group textarea.form-control {
  height: 248px;
}
.main-contact .form section#contact .form-control:focus {
  border-color: #ff9900;
  box-shadow: none;
}
.main-contact .form section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main-contact .form section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 18- */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main-contact .form section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 19+ */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main-contact .form section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main-contact .info .contact-info {
  margin-top: 90px;
}
.main-contact .info .contact-info ul {
  list-style-type: none;
}
.main-contact .info .contact-info ul .single-info {
  padding-right: 0;
}
.main-contact .info .contact-info ul .single-info .icon i {
  font-size: 34px;
  color: #0d2144;
  line-height: 35px;
}
.main-contact .info .contact-info ul .single-info .content {
  padding-left: 15px;
}
.main-contact .info .contact-info ul .single-info .content p {
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: #777;
}
.main-contact .info .social {
  margin-top: 25px;
  padding: 20px 0;
}
.main-contact .info .social a {
  padding: 10px;
  display: inline-block;
  margin: 0 20px;
  width: 50px;
  font-size: 22px;
  color: #fff;
  background: #000;
  border-radius: 100px;
}
.main-contact .info .social a:hover {
  text-decoration: none;
}
.main-contact .info .social a.facebook {
  background: #3b5998;
}
.main-contact .info .social a.twitter {
  background: #55acee;
}
.main-contact .info .social a.youtube {
  background: #8a3ab9;
}

@media only screen and (max-width: 992px) {
  .main-contact {
    margin-top: 0;
    text-align: center;
  }
  .main-contact section#contact {
    margin-top: 20px;
  }
  .main-contact section#contact .section-sm-subheading {
    display: none;
    text-align: center !important;
  }
  .main-contact section#contact .section-sm-subheading .section-subheading {
    margin-bottom: 15px !important;
  }
  .main-contact section#contact .forma {
    margin-top: 20px;
  }
  .main-contact .info .contact-info {
    margin-top: 45px;
    padding-left: 20%;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background: #f8f8f5;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.75;
}

a {
  color: #ff9900;
}
a.active,
a:active,
a:focus,
a:hover {
  color: #cc7a00;
}

.text-primary {
  color: #ff9900 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section {
  padding: 100px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.btn-primary {
  color: white;
  border-color: #ff9900;
  background-color: #ff9900;
}
.btn-primary.focus,
.btn-primary:focus {
  color: white;
  border-color: #804d00;
  background-color: #cc7a00;
}
.btn-primary:hover {
  color: white;
  border-color: #c27400;
  background-color: #cc7a00;
}
.btn-primary.active,
.btn-primary:active,
.open > .btn-primary.dropdown-toggle {
  color: white;
  border-color: #c27400;
  background-color: #cc7a00;
}
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .btn-primary.dropdown-toggle.focus,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle:hover {
  color: white;
  border-color: #804d00;
  background-color: #a86500;
}
.btn-primary.active,
.btn-primary:active,
.open > .btn-primary.dropdown-toggle {
  background-image: none;
}
.btn-primary.disabled.focus,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled].focus,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
  border-color: #ff9900;
  background-color: #ff9900;
}
.btn-primary .badge {
  color: #ff9900;
  background-color: white;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}
::-moz-selection {
  background: #ff9900;
  text-shadow: none;
}

::selection {
  background: #ff9900;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #ff9900;
}
