<footer>
  <div class="container-fluid animated fadeIn">
      <div class="row">
          <div class="col-12 col-md-4 section1 order-3 order-md-1">
              <div class="logo">
                  <img src="assets/pages/images/logo-capin.svg" alt="">
              </div>
              <div class="texto">
                  <p>Los clientes abarcan desde pequeñas empresas hasta grandes organizaciones y algunas pequeñas empresas locales que se esfuerzan por expandirse.</p>
              </div>
              <div class="social">
                  <ul>
                      <li><a target="_blank" href="https://www.facebook.com/CAP-IN-Capacitaci%C3%B3n-y-Asesor%C3%ADa-Profesional-e-Innovadora-2378216642421046/"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                   </ul>
              </div>
          </div>
          <div class="col-12 col-md-4 section2 links order-2 order-md-2">
              
              
              <h4 class="title">Enlaces útiles</h4>
              
              <ul>
                  <li><a href="services.html"><i class="fa fa-angle-right"></i> Servicios</a></li>
                  <li><a href="about.html"><i class="fa fa-angle-right"></i>Acerca de</a></li>
                  <li><a href="contact.html"><i class="fa fa-angle-right"></i>Contacto</a></li>
              </ul>
          </div>
          <div class="col-12 col-md-4 section2 order-1 order-md-3">
                  <h4 class="title">Contáctanos</h4>
                  <ul>
                      <li><a href="#"><i class="fas fa-mobile-alt"></i>+(502) 42768937</a></li>
                      <li><a href="#"><i class="fas fa-mobile-alt"></i>+(502) 59483746</a></li>
                      <li><a href="#"><i class="fas fa-at"></i>contacto@capin.com</a></li>
                      
                  </ul>
          </div>
          <!-- <div class="col-3 section4"></div> -->
      </div>
  </div>
</footer>

<section class="copy-right">
  <p>© 2019 Todos los derechos reservados. Diseñado por WeDev</p>
</section>
